force-app/main/default/flows/Description_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign1</name>
        <label>assign1</label>
        <locationX>307</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>acccount1.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>modifieddescrip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>descript_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>status_check</name>
        <label>status check</label>
        <locationX>721</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checking</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign1</targetReference>
            </connector>
            <label>checking</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FLOW Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Description flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_decsript</name>
        <label>get decsript</label>
        <locationX>492</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>status_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>acccount1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>descript_update</name>
        <label>descript update</label>
        <locationX>583</locationX>
        <locationY>348</locationY>
        <inputReference>acccount1</inputReference>
    </recordUpdates>
    <start>
        <locationX>65</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>get_decsript</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>modifieddescrip</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!acccount1.Description}
{!$Record.Name} - {!$Record.Status__c}</text>
    </textTemplates>
    <textTemplates>
        <name>setdescript</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Name} - {!$Record.Status__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>updatedescriopt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!acccount1.Id} 
{!$Record.Name} - {!$Record.Status__c}</text>
    </textTemplates>
    <variables>
        <name>acccount1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
