force-app/main/default/flows/Flow_description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>length_check</name>
        <label>length check</label>
        <locationX>533</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>description_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>descriptcheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_active</targetReference>
            </connector>
            <label>description check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>descriptcheck</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!$Record.Description}) &gt; 500</expression>
    </formulas>
    <interviewLabel>description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow description</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_active</name>
        <label>update active</label>
        <locationX>524</locationX>
        <locationY>349</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>37</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>length_check</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
