force-app/main/default/flows/flow_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>flow_apex1</name>
        <label>flow apex1</label>
        <locationX>483</locationX>
        <locationY>59</locationY>
        <actionName>Flowapex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flowapex</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>flow 5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow 5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>463</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_text</name>
            <fieldText>&lt;p&gt;{!flow_apex1.Name}&lt;/p&gt;&lt;p&gt;{!flow_apex1.Email__c}&lt;/p&gt;&lt;p&gt;{!flow_apex1.Active__c}&lt;/p&gt;&lt;p&gt;{!flow_apex1.Contact_Count__c}&lt;/p&gt;&lt;p&gt;{!flow_apex1.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>91</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>flow_apex1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
