force-app/main/default/flows/flow_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_description</name>
        <label>assign description</label>
        <locationX>352</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>get_account_record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>modify_description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>description flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_account_record</name>
        <label>get account record</label>
        <locationX>421</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_account</name>
        <label>update account</label>
        <locationX>651</locationX>
        <locationY>302</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>get_account_record.Description</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>563</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_description</targetReference>
        </connector>
        <fields>
            <name>Add_description</name>
            <dataType>String</dataType>
            <fieldText>Add description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>get_account_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>modify_description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!get_account_record.Description} 
{!Add_description}</text>
    </textTemplates>
</Flow>
