force-app/main/default/flows/Flow_Reject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Reject_Check</name>
        <label>Reject Check</label>
        <locationX>495</locationX>
        <locationY>137</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>comments_Update</targetReference>
            </connector>
            <label>Check reject</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currenttime</name>
        <dataType>String</dataType>
        <expression>MID(TEXT(NOW()), 12, 8)</expression>
    </formulas>
    <interviewLabel>Flow Reject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Reject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>comments_Update</name>
        <label>comments Update</label>
        <locationX>544</locationX>
        <locationY>297</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>updatecomments1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>83</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Reject_Check</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>updatecomments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Application rejected by {!$User.Username} at {!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>updatecomments1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Application rejected by {!$User.FirstName} at {!$Flow.CurrentDateTime}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
