force-app/main/default/flows/football_screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_send</name>
        <label>email send</label>
        <locationX>736</locationX>
        <locationY>316</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>get_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Match Statistics</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>football screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>football screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_fb</name>
        <label>create fb</label>
        <locationX>626</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>email_send</targetReference>
        </connector>
        <inputAssignments>
            <field>Man_of_the_matches__c</field>
            <value>
                <elementReference>Total_man_of_the_matches1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Accountt.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_matches__c</field>
            <value>
                <elementReference>No_of_Matches1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Score__c</field>
            <value>
                <elementReference>Total_scores1</elementReference>
            </value>
        </inputAssignments>
        <object>Football__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>345</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Accountt.Email__c</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Accountt.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_email</name>
        <label>get email</label>
        <locationX>182</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_fb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Accountt.Email__c</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>screen_one</name>
        <label>screen one</label>
        <locationX>413</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_account</targetReference>
        </connector>
        <fields>
            <name>No_of_Matches1</name>
            <dataType>Number</dataType>
            <fieldText>No of Matches</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_scores1</name>
            <dataType>Number</dataType>
            <fieldText>Total scores</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_man_of_the_matches1</name>
            <dataType>Number</dataType>
            <fieldText>Total man of the matches</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>39</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_one</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hai {!Accountt.Name},
Number of Matches you Played: {!No_of_Matches1}
Total Score you Scored: {!Total_scores1}
No of Man of the Matches: {!Total_man_of_the_matches1}</text>
    </textTemplates>
    <variables>
        <name>Accountt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
