force-app/main/default/flows/loop_exercise.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_contact</name>
        <label>assign contact</label>
        <locationX>422</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>single_contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Accounts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_contact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mr.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>from flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_contacts</name>
        <label>assign contacts</label>
        <locationX>315</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>multiple_contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_contact_exists</name>
        <label>check contact exists</label>
        <locationX>626</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>loop_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_contact</targetReference>
            </connector>
            <label>contact not exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>loop exercise {!$Flow.CurrentDateTime}</interviewLabel>
    <label>loop exercise</label>
    <loops>
        <name>loop_Accounts</name>
        <label>loop Accounts</label>
        <locationX>530</locationX>
        <locationY>34</locationY>
        <collectionReference>Get_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_contacts</name>
        <label>create contacts</label>
        <locationX>861</locationX>
        <locationY>38</locationY>
        <inputReference>multiple_contacts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>338</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Accounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>718</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_contact_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Accounts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>26</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>multiple_contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>single_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
