force-app/main/default/flows/new_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>881</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>CurrentDepartmentName1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Department.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDepartmentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newDepartmentLookup1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Existing_Position_in_New_Department</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_Transfer_Check</name>
        <label>Valid Transfer Check</label>
        <locationX>609</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newDepartmentLookup1.selectedChoiceValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Employee_Record</targetReference>
            </connector>
            <label>Valid Transfer</label>
        </rules>
        <rules>
            <name>Same_Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employee_Department.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newDepartmentLookup1.selectedChoiceValues</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Department1</targetReference>
            </connector>
            <label>Same Department</label>
        </rules>
        <rules>
            <name>Position_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Position_in_New_Department</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Position_Exists</targetReference>
            </connector>
            <label>Position Already Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>departmentchoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Employee_Department.Department__r.Department_Code__c</elementReference>
            </value>
        </filters>
        <object>Department__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmployeeChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentDepartmentName</name>
        <dataType>String</dataType>
        <expression>{!Get_Employee_Department.Department__r.Name}</expression>
    </formulas>
    <interviewLabel>new Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>new Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_Existing_Position_in_New_Department</name>
        <label>Check Existing Position in New Department</label>
        <locationX>767</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Transfer_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Department.Position__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newDepartmentLookup1.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Department</name>
        <label>Get Employee Department</label>
        <locationX>539</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Current_Department</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employeeLookup.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record</name>
        <label>get record</label>
        <locationX>112</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>confirm_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newDepartmentLookup1.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Department__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employee_Record</name>
        <label>Update Employee Record</label>
        <locationX>331</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>get_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employeeLookup.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>newDepartmentLookup1.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
    </recordUpdates>
    <screens>
        <name>confirm_screen</name>
        <label>confirm screen</label>
        <locationX>199</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmscreen</name>
            <fieldText>&lt;p&gt;{!CurrentDepartmentName1} has been transferred from {!currentDepartmentName} to {!get_record.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Current_Department</name>
        <label>Display Current Department</label>
        <locationX>636</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_New_Department</targetReference>
        </connector>
        <fields>
            <name>currentDepartment1</name>
            <fieldText>&lt;p&gt;Current Department: {!currentDepartmentName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Details</name>
        <label>Employee Details</label>
        <locationX>429</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Employee_Department</targetReference>
        </connector>
        <fields>
            <name>employeeLookup</name>
            <choiceReferences>EmployeeChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Employee</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Position_Exists</name>
        <label>Position Exists</label>
        <locationX>457</locationX>
        <locationY>414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>position</name>
            <fieldText>&lt;p&gt;Error: An employee already holds the same position in the selected department&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Same_Department1</name>
        <label>Same Department1</label>
        <locationX>649</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>erorScr</name>
            <fieldText>&lt;p&gt;Error: The employee is already in the selected department...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_New_Department</name>
        <label>Select New Department</label>
        <locationX>786</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <fields>
            <name>newDepartmentLookup1</name>
            <choiceReferences>departmentchoices</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select New Department</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>28</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Employee_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDepartmentName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewDepartmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Department__c</objectType>
    </variables>
    <variables>
        <name>selectedEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
