force-app/main/default/flows/promote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>employeeList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>salaryformula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Selected_Employee.Salary__c} * 0.5 + {!Get_Selected_Employee.Salary__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>promote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>promote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Department</name>
        <label>Get Current Department</label>
        <locationX>428</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Department__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Employee</name>
        <label>Get Selected Employee</label>
        <locationX>658</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promote_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployeeLookup.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateemp</name>
        <label>updateemp</label>
        <locationX>778</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Promotion_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Employee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>promotions_options.selectedPromotion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salary__c</field>
            <value>
                <elementReference>salaryformula</elementReference>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
    </recordUpdates>
    <screens>
        <name>Promote_Employee</name>
        <label>Promote Employee</label>
        <locationX>778</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateemp</targetReference>
        </connector>
        <fields>
            <name>promotions_options</name>
            <extensionName>c:promotionsList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentPosition</name>
                <value>
                    <elementReference>Get_Selected_Employee.Position__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Promotion_Confirmation</name>
        <label>Promotion Confirmation</label>
        <locationX>733</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PromotionMessage</name>
            <fieldText>&lt;p&gt;{!Get_Selected_Employee.Name} has been promoted from {!Get_Selected_Employee.Position__c} to  {!promotions_options.selectedPromotion} role.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Employee</name>
        <label>Select Employee</label>
        <locationX>563</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Employee</targetReference>
        </connector>
        <fields>
            <name>EmployeeLookup</name>
            <choiceReferences>employeeList</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Employee</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>64</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Current_Department</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Department__c</objectType>
    </variables>
</Flow>
